@use 'palette' as *;

$header-height: 4.25rem;
$snackbar-width: 20rem;

:root {
  // palette:
  @each $key, $value in $primary {
    --#{$key}: #{$value};
  }

  @each $key, $value in $black {
    --#{$key}: #{$value};
  }

  @each $key, $value in $fail {
    --#{$key}: #{$value};
  }

  @each $key, $value in $success {
    --#{$key}: #{$value};
  }

  @each $key, $value in $common {
    --#{$key}: #{$value};
  }

  // variables
  --snackbar-width: #{$snackbar-width};
}